<% layout("./layouts/loginBoilerplate") %>
<div class="row mt-2" style="margin">
    <div class="col-8 offset-2">
        <h3>Edit Place</h3>
        <form method="POST" action="/login/allPlaces/<%=place._id%>?_method=PUT">
            <div class="mb-3">
                <label for="title" class="form-label">Title *</label>
                <input name="listing[title]" value="<%= place.title%>" type="text" clss="form-control"> 
            </div>
            <div class="mb-4 ">
                <label for="descreption" class="form-label">Descreption</label><br>
                <textarea  name="listing[description]" class="form-controls" rows="5" cols="50"><%=place.description%> </textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image]" value="<%= place.image%>" type="text" class="form-control">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="type" class="form-label">Type *</label>
                    <input name="listing[type]" value="<%= place.type%>" type="text" class="form-control">
                </div>
            <div class="mb-3 col-md-8">
                <label for="city" class="form-label">City *</label>
                <input name="listing[city]" value="<%= place.city%>" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location *</label>
                <input name="listing[location]" value="<%= place.location%>" type="text" class="form-control">
            </div>
            <button class="btn btn-dark add-btn mt-3 col-3">Update</button>
       
        </form>
        <br><br>
    </div>
    <br><br>
</div>
